/* var 변수 */
:root {
  --primary-color: #8b008b;
  --secondery-color: #cc5285;
  --background-color: #222222;
  --font-size: 1.6em;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--background-color);
}

/* Desktop */
body {
  color: var(--primary-color);
  line-height: var(--font-size);
}
.container {
  display: grid;
  justify-items: center; /*컨테이너 안에 들어있는 요소가 단일(하나)이기 때문에 아이템즈를 쓴다*/
  align-items: center;
  height: 100vh;
}
.best-seller {
  /* border: 1px solid #000; */
  border-radius: 20px;
  width: 1230px;
  padding: 20px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.best-header {
  font-size: 22px;
  padding-left: 10px;
}
.view-more {
  color: crimson;
  float: right;
}
.view-more:hover {
  text-decoration: underline;
}
.items-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.item {
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  cursor: pointer;
}
.item:nth-child(10),
.item:nth-child(11),
.item:nth-child(12) {
  border: none;
}
.name span {
  display: block;
  color: var(--primary-color);
}
.item:hover .name {
  color: var(--secondery-color);
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    align-items: start;
  }
  .best-seller {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .items-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .item:nth-child(10) {
    border-bottom: 1px solid #ddd;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .items-inner {
    grid-template-columns: 1fr;
  }
  .item:nth-child(11) {
    border-bottom: 1px solid #ddd;
  }
}
