/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userInput {
  width: 320px;
  height: 150px;
}

#result {
  width: 300px;
  height: 100px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  line-height: 100px;
}

li {
  margin: 15px;
}
li label {
  width: 50px;
  display: inline-block;
  padding: 5px;
}
li input {
  padding: 3px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input[type="submit"] {
  width: 240px;
  padding: 5px;
  border-bottom: none;
}
