// 1. div 사각형
// 2. 전후문자선택 = ::before, ::after 활용 : 각 원을 만들어서 위치를 이동!
// 3. 하트모양으로 만든다.
// 4. 애니메이션 : 키프레임즈를 활용해서 일정시간에 맞춰서 크기를 조정한다. scale()

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotate(45deg);
}

.heart-beat {
  position: relative;
  background: deeppink;
  width: 150px;
  height: 150px;
  // transform: rotate(45deg);
  box-shadow: 0 0 0.5px rgba($color: rgb(251, 20, 170), $alpha: 0.5);
  transition: all 0.5s;
  animation: beat linear 0.5s infinite;
  &::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: -75px;
    background: deeppink;
    border-radius: 100px;
  }
  &::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 75px;
    right: 0px;
    background: deeppink;
    border-radius: 100px;
  }
}

@keyframes beat {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

// -------------------------------
