* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(150deg, #13f0cf, #6d016d, #220340, #220340, #000);
  overflow-x: hidden;
}

.progressWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2d9c9d;
  z-index: 10;
}

.bar {
  width: 50%;
  height: 100%;
  background: #fff;
  transition: width 0.4s;
}

.submarine {
  width: 120px;
  position: fixed;
  top: 5%;
  transition: all 0.3s;
  z-index: 10;
}

.innerWrap {
  position: relative;
  padding: 40px;
  z-index: 2;
}

.title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.textWrap {
  padding: 500px 0;
}
.textWrap p {
  color: #fff;
  text-align: center;
  font: bold 30px/1 "arial";
  margin-bottom: 15px;
}
.textWrap img {
  width: 100%;
}

.octopus {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: -150px;
  width: 300px;
  opacity: 0.4;
  transition: all 2s;
}

.depthWrap {
  position: fixed;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  font: bold 20px/1 "arial";
  border-bottom: 3px dashed #fff;
  padding-bottom: 10px;
  z-index: 10;
}

.depthWrap span {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  font-size: 35px;
}
