* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
#container {
  width: 500px;
  margin: 10px auto;
}
form fieldset {
  margin-bottom: 25px;
}
form legend {
  font-size: 15px;
  font-weight: 600;
}
form ul li {
  margin: 15px 0;

  list-style: none;
}
label.reg {
  display: inline-block;
  width: 110px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #390;
  margin-right: 10px;
}
fieldset label {
  display: inline-block;
  margin: 10px 0;
}
form #send {
  width: 100%;
  padding: 10px 20px;
}
form #send:hover {
  background: #222;
  color: #fff;
}
