/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form input[type="email"] {
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
form input[type="email"]:focus {
  outline: none;
}
form input[type="submit"] {
  padding: 15px;
  margin-left: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
