@import url(./reset.css);

/* header */
header {
  position: relative;
  text-align: center;
  padding: 20px;
  background: #2dc1bd;
  border: 1px solid #f00;
  border-radius: 0 0 10px 10px;
}

#myhome {
  position: absolute;
  left: 20px;
}

#icon {
  position: absolute;
  right: 20px;
}

#search {
  border: #fff;
  margin: 10px;
}
