@import url(./reset.css);

/* common */
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper_header {
  /* border: 1px solid #f00; */
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  color: #55b2d4;
  font: 600 13px/1 "arial";
}
.subtitle {
  font-size: 14px;
  padding-bottom: 5px;
}
.divideLine {
  width: 100%;
  border-top: 1px solid gray;
  margin: 5px 0;
}
.game_container {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px 15px;
  background: #f6f6f6;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.game_title {
  font: 700 16px/1 "arial";
}
.game_subtitle {
  font-size: 14px;
}
.word_text input[type="text"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 0 0 2px 4px;
}
.word_text input[type="text"]:focus {
  outline: none;
}
.word_text input[type="text"]:focus::placeholder {
  opacity: 0;
}
.word_text input[type="submit"],
.wrapper_lotto_btn {
  padding: 2px 8px;
}
.word_result {
  color: crimson;
  font-weight: 800;
}
.game_lotto_number {
  width: 150px;
  height: 21px;
  background: #ffe400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 5px 0;
  padding: 2px 6px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
