/* .box {
  width: 100px;
  height: 100px;
  background: orange;
}
.box:active {
  background: red;
  transition: 2s;
} */
#graph {
  width: 610px;
  border: 3px solid #000;
}
.bar {
  width: 10px;
  height: 50px;
  background: orange;
  margin: 5px;
  transition-duration: 5s;
  transition-property: background, width;
  transition-duration: 1s, 5s;
}
#graph:hover > .bar {
  width: 600px;
}
#graph:hover > .bar:nth-child(1) {
  /* transition-delay: 0s;
  transition-timing-function: linear; */
  background: red;
  width: 100px;
}
#graph:hover > .bar:nth-child(2) {
  /* transition-delay: 1s;
  transition-timing-function: ease; */
  background: blue;
  width: 300px;
}
#graph:hover > .bar:nth-child(3) {
  /* transition-delay: 2s;
  transition-timing-function: ease-in; */
  background: green;
  width: 400px;
}
#graph:hover > .bar:nth-child(4) {
  /* transition-delay: 3s;
  transition-timing-function: ease-in-out; */
  background: yellow;
  width: 200px;
}
#graph:hover > .bar:nth-child(5) {
  /* transition-delay: 4s;
  transition-timing-function: ease-out; */
  background: pink;
  width: 400px;
}
