* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --bgColor: #ecf0f1;
  --aColor: #1da1f2;
  --aHover: #4169e1;
}

body {
  display: flex;
  justify-content: center;
  background: var(--bgColor);
}
a {
  color: var(--aColor);
  font-size: 1.3rem;
}
a:hover {
  color: var(--aHover);
}
.container {
  width: 550px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post,
.profile {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 1.2rem;
}
